.close {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

.mat-snack-bar-container.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border: 1px solid transparent;
    border-radius: 4px;
}

.mat-snack-bar-container.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid transparent;
    border-radius: 4px;
}