<mat-toolbar class="example-header" color="primary">
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span fxFlex="auto"></span>
  <button mat-button [matMenuTriggerFor]="user">
    <mat-icon>account_circle</mat-icon>
    admin
  </button>
  <mat-menu #user="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <h3 matSubheader>Test</h3>
    <a mat-list-item>
      <mat-icon>perm_identity</mat-icon>
      <span fxFlexOffset="30px">Test1</span>
    </a>
    <a mat-list-item>
      <mat-icon>compare_arrows</mat-icon>
      <span fxFlexOffset="30px">Test2</span>
    </a>
    <h3 matSubheader>Test</h3>
    <a mat-list-item>
      <mat-icon>perm_identity</mat-icon>
      <span fxFlexOffset="30px">Test1</span>
    </a>
    <a mat-list-item>
      <mat-icon>compare_arrows</mat-icon>
      <span fxFlexOffset="30px">Test2</span>
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
