<h2 mat-dialog-title>Create User</h2>
<mat-dialog-content>
  <form [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Username" name="username" formControlName="username" required>
      <mat-error *ngIf="form.controls.username.dirty && form.controls.username.hasError('required')">
        Username is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" formControlName="password" required>
      <mat-error *ngIf="form.controls.password.dirty && form.controls.password.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [disabled]="form.invalid" color="primary" [mat-dialog-close]="true"
    cdkFocusInitial (click)="submit()">
    Create
  </button>
</mat-dialog-actions>