<div style="margin: 20px;">
    <app-mat-magic-search
      [facets_param]="choices"
      (textSearchEvent)="textSearch($event)"
      (searchUpdatedEvent)="searchUpdated($event)">
    </app-mat-magic-search>

    <button mat-raised-button color="primary" (click)="createUser()">
        <mat-icon>add</mat-icon>
        <span>Create User</span>
    </button>
    <button mat-raised-button color="primary" (click)="editUser()" [disabled]="selection.selected.length !== 1">
        <mat-icon>edit</mat-icon>
        <span>Edit User</span>
    </button>
    <button mat-raised-button color="warn" (click)="deleteUser()" [disabled]="!selection.hasValue()">
        <mat-icon>delete</mat-icon>
        <span>Delete User</span>
    </button>
    <button [disabled]="!selection.hasValue()" mat-raised-button color="primary" [matMenuTriggerFor]="menu">More</button>
    <mat-menu #menu="matMenu" color="primary">
        <button [disabled]="selection.selected.length !== 1" mat-menu-item (click)="changePassword()">
            <mat-icon>edit</mat-icon>
            <span>Change Password</span>
        </button>
    </mat-menu>

    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>
</div>